.multi-links-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    flex-direction: row;
    border-radius: var(--US, 8px);
}

boton{
    border-radius: 0;
}