header{
    display: flex;
    width: 98%;
    min-height: var(--XL, 72px);
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
}

.link-container{
    display: flex;
    padding: 0px var(--XUS, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--XXXS, 16px);
}

.brand{
    color: var(--color-principal, #4BA8FF);
}

a{
    color: var(--color-text, #051C32);
}

a:hover{
    color: var(--color-principal, #4BA8FF);
}

a:active{
    color: var(--color-principal, #4BA8FF);
}

.activeStyle{
    color: #4BA8FF;
}