container{
    display: flex;
    width: 100%;
    padding: var(--US, 12px) var(--XXXS, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--US, 12px);
}

.label-container{
    display: flex;
    width: 100%;
    min-height: var(--XXS, 24px);
    align-items: center;
    align-self: stretch;
}

.label{
    width: 100%;
    color: var(--color-text, #051C32);
}

input{
    background: none;
    border: none;
    outline: none;
    font-family: Nunito;
    font-size: var(--XXS, 24px);
    font-style: normal;
    font-weight: var(--Weight-Regular, 500);
    line-height: normal;
    width: 100%;
    padding: 0;
}

input-container{
    display: flex;
    min-height: var(--XM, 56px);
    padding-left: var(--XXXS, 16px);
    padding-right: var(--XXXS, 16px);
    align-items: center;
    gap: var(--US, 12px);
    align-self: stretch;
    border-radius: var(--US, 12px);
    border: 2px solid var(--color-principal, #4BA8FF);
    background: var(--color-background, #F0F8FF);
    color: var(--color-text, #051C32);
    font-size: var(--XXS, 24px);
}

input-container:hover {
    border: 2px solid var(--color-principal, #4BA8FF);
    background: var(--color-background, #F0F8FF);
    box-shadow: 0px 4px var(--XXXS, 16px) 0px var(--color-principal-glow, #7ABFFF);
}

input-container:active, input-container:focus{
    background: var(--color-principal-claro, #CAE6FF);
}