.primary{
  --color-principal: #4BA8FF;
  --color-principal-claro: #CAE6FF;
  --color-principal-glow: #7ABFFF;
  --color-text: #051C32;
  --color-text_alt: #F0F8FF;
}

.secondary{
  --color-principal: #00BB9A;
  --color-principal-claro: #75E8D3;
  --color-principal-glow: #20CDAE;
  --color-text: #051C32;
  --color-text_alt: #F0F8FF;
}

.monocrome{
  --color-principal: #051C32;
  --color-principal-claro: #80A3C2;
  --color-principal-glow: rgba(25, 53, 79, 0.40);
  --color-text: #051C32;
  --color-text_alt: #F0F8FF;
}

.small{
  --XXXL: 80px;
  --XXL: 72px;
  --XL: 64px;
  --L: 56px;
  --XM: 48px;
  --M: 44px;
  --MS: 36px;
  --S: 32px;
  --XS: 24px;
  --XXS: 16px;
  --XXXS: 12px;
  --US: 8px;
  --XUS: 4px;
}

.large{
  --XXXL: 96px;
  --XXL: 80px;
  --XL: 72px;
  --L: 64px;
  --XM: 56px;
  --M: 48px;
  --MS: 44px;
  --S: 36px;
  --XS: 32px;
  --XXS: 24px;
  --XXXS: 16px;
  --US: 12px;
  --XUS: 8px;
}

body {
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text, #051C32);
  background: var(--Color-Principales-Fuertes-Text_Alt, #F0F8FF);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a{
  text-decoration: none;
  color: var(--color-principal, #4BA8FF);
}

h1{
  font-family: Kodchasan;
  font-size: var(--XXXL, 96px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h1::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h2{
  font-family: Kodchasan;
  font-size: var(--L, 64px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h2::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h3{
  font-family: Kodchasan;
  font-size: var(--M, 48px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h3::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h4{
  font-family: Kodchasan;
  font-size: var(--S, 36px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h4::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h5{
  font-family: Kodchasan;
  font-size: var(--XS, 32px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h5::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h6{
  font-family: Kodchasan;
  font-size: var(--XXS, 24px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h6::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

h7{
  font-family: Kodchasan;
  font-size: var(--XXS, 24px);
  font-style: normal;
  font-weight: var(--Weight-Bold, 700);
  line-height: normal;
  padding: 0;
  margin: 0;
}

h7::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t1{
  font-family: Nunito;
  font-size: var(--L, 64px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t1::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t2{
  font-family: Nunito;
  font-size: var(--M, 48px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t2::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t3{
  font-family: Nunito;
  font-size: var(--S, 36px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t3::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t4{
  font-family: Nunito;
  font-size: var(--XS, 32px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t4::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t5{
  font-family: Nunito;
  font-size: var(--XXS, 24px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t5::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t6::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t6{
  font-family: Nunito;
  font-size: var(--XXXS, 16px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}

t7::selection{
  background-color: #00BB9A;
  color: #F0F8FF;
}

t7{
  font-family: Nunito;
  font-size: var(--US, 12px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 500);
  line-height: normal;
  padding: 0;
  margin: 0;
}